<div class="card text-center">
  <div class="card-header">Formulario capitulo III</div>
  <div class="card-body">
    <p class="card-title"><strong>Gastos:</strong> Registre el valor que fue pagado por Usted, por Terceros que NO hacen parte de su grupo de viaje y por
      Terceros que SI hacen parte de su grupo de viaje, así como el tipo de moneda utilizado y el número de personas que
      cubre cada gasto.</p>
      <label class="form-check-label" for="flexCheckChecked">
        5. Servicios deportivos y recreacionales  (Ej.: Actividades de aventura, ecológicas, otros)
      </label>
    <hr />



    <table class="table table-bordered">
      <thead class="table-success">
        <tr>
          <th class="tg-0pky">Gastos</th>
          <th class="tg-0pky">¿H</th>
          <th class="tg-0pky">pagado por usted</th>
          <th class="tg-0pky">Terceros que NO hacen parte del grupo</th>
          <th class="tg-0pky">Terceros que SI hacen parte del grupo</th>
          <th class="tg-0pky">Para cuantas personas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0pky "><strong>Paquete</strong></td>
          <td class="tg-0pky">

            <input class="form-control" type="text">
            <br>
            <input class="form-control" type="text">


          </td>
          <td class="tg-0pky">

              <div class="row">
                <div class="col">
                  <label for="" class=""> </label>
                  <input class="form-control" type="text">
                </div>
                <div class="col">
                  <label for="" class="">Tipo de Moneda</label>
                  <input class="form-control" type="text">

                </div>
              </div>

          </td>
          <td class="tg-0pky">

            <div class="row">
              <div class="col">
                <label for="" class=""> </label>
                <input class="form-control" type="text">
              </div>
              <div class="col">
                <label for="" class="">Tipo de Moneda</label>
                <input class="form-control" type="text">

              </div>
            </div>

          </td>
          <td class="tg-0pky">

            <div class="row">
              <div class="col">
                <label for="" class=""> </label>
                <input class="form-control" type="text">
              </div>
              <div class="col">
                <label for="" class="">Tipo de Moneda</label>
                <input class="form-control" type="text">

              </div>
            </div>

          </td>
          <td class="tg-0pky">

            <div class="row">
              <div class="col">
                <label for="" class=""> </label>
                <input class="form-control" type="text">
              </div>
              <div class="col">
                <label for="" class="">Tipo de Moneda</label>
                <input class="form-control" type="text">

              </div>
            </div>

          </td>
        </tr>
        <tr>
          <td class="tg-0pky"><strong>Transporte</strong></td>
          <td class="tg-0pky">

            <input class="form-control" type="text">
            <br>
            <input class="form-control" type="text">

          </td>
          <td class="tg-0pky">

            <div class="row">
              <div class="col">
                <label for="" class=""> </label>
                <input class="form-control" type="text">
              </div>
              <div class="col">
                <label for="" class="">Tipo de Moneda</label>
                <input class="form-control" type="text">

              </div>
            </div>

          </td>
          <td class="tg-0pky">

            <div class="row">
              <div class="col">
                <label for="" class=""> </label>
                <input class="form-control" type="text">
              </div>
              <div class="col">
                <label for="" class="">Tipo de Moneda</label>
                <input class="form-control" type="text">

              </div>
            </div>

          </td>
          <td class="tg-0pky">

            <div class="row">
              <div class="col">
                <label for="" class=""> </label>
                <input class="form-control" type="text">
              </div>
              <div class="col">
                <label for="" class="">Tipo de Moneda</label>
                <input class="form-control" type="text">

              </div>
            </div>

          </td>
          <td class="tg-0pky">


            <div class="row">
              <div class="col">
                <label for="" class=""> </label>
                <input class="form-control" type="text">
              </div>
              <div class="col">
                <label for="" class="">Tipo de Moneda</label>
                <input class="form-control" type="text">

              </div>
            </div>

          </td>
        </tr>

      </tbody>
      </table>

      <label class="form-check-label" for="flexCheckChecked">
        10. Por favor nombre los países de visita y el número de noches en cada forma de alojamiento
                utilizado.
      </label>



      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="tg-0pky"><Strong>País de visita</Strong></th>
            <th class="tg-0pky">vivienda</th>
            <th class="tg-0pky">Hotel</th>
            <th class="tg-0pky">Vivienda Familiar</th>
            <th class="tg-0pky">Vivienda</th>
            <th class="tg-0pky">Otro tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-0pky">
              <div class="input-group mb-3">

                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </td>
            <td class="tg-0pky">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"># Noches</span>
                <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </td>
            <td class="tg-0pky">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"># Noches</span>
                <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </td>
            <td class="tg-0pky">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"># Noches</span>
                <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </td>
            <td class="tg-0pky">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"># Noches</span>
                <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </td>
            <td class="tg-0pky">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"># Noches</span>
                <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </td>
          </tr>
        </tbody>
        </table>


  </div>
  <div class="card-footer text-muted"><Button class="btn btn-success">Registrar</Button></div>
</div>
